body {
  margin: 0;
  /* background-image: url(https://miro.medium.com/max/720/0*UjBJ_iTNESi6Zevk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4); */
}
