.signupform {
  margin: 10% 15% 0 15%;
  background-color: rgba(47, 79, 79, 0.95);
  text-align: center;
  color: white;
  border-radius: 15px;
  align-items: center;
}
input {
  width: 10rem;
}
